# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/

#data
data/

#env
.env

#logs
logs/

#streamlit
streamlit/telecom_env/
tele_env/

#notebooks
notebooks/Satisfaction_Analysis.ipynb
